body{
	background-color: #e8eaf6;
}

#comment-stream .section {
	background-color: #f6f7f9 ;
	padding: 10px 20px;
	margin-bottom: 10px;
}
#post-stream .section {
	background-color: #ffffff;
	padding: 10px 20px;
	margin-bottom: 10px;
}

a:hover ,span:hover{
	cursor: pointer;
}

a,span{
	margin-right: 10px;
}

#commento{
	margin-bottom: 10px;
}

#post{
	padding: 20px 40px;
	margin-bottom: 20px;
	background-color: #ffffff;
}

#Posts{
	padding-top: 20px;
}

#postForm{
	padding: 10px 20px 50px 20px;
	margin-bottom: 40px;
	margin-top: 10px;
	background-color: #ffffff;
}

#navBar{
	padding-left: 20px;
}

.font-medium{
	font-size: x-large;
}

.greyColor{
	color: #607d8b;
}

.blueColor{
	color: #2196f3;
}

.navy-blue{
	color: #283593;
}

.width-14{
	width: 14px;
}
