.odd {
	background-color: #f2f9ff;
	padding: 10px 20px;
	margin: 10px 20px;
}
.even {
	background-color: #eceff3;
	padding: 10px 20px;
	margin: 10px 20px;
}

a:hover{
	cursor: pointer;
}

a{
	margin-right: 10px;
}

#post{
	padding: 20px 40px;
	background-color: #d3d3d3;
}

#Posts{
	padding-top: 20px;
}

#postForm{
	padding: 10px 20px 50px 20px;
	margin-bottom: 40px;
	margin-top: 40px;
}

#navBar{
	padding-left: 20px;
}