<div id="post-stream">
  <div ng-repeat="post in allPost | orderBy:'-likes'" ng-class-odd="'odd'" ng-class-even="'even'" > 
    <p>{{post.created_by}}    <small>says</small>    "{{post.text}}" </p>
    <p> 
      <span ng-click="like(post)"><a> {{post.likes}} like  </a>  </span>
      <span ><a href="#/posts/{{post._id}}">  comment  </a>  </span>
      <span ng-click="delete(post)"><a>  delete  </a></span>
      <small class="right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
    </p>
  </div>

  <form ng-Submit="post()">
    <input required class="form" type="text" placeholder="Your name" ng-model="newPost.created_by" /> 
    <textarea required class="form" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
    <input type="submit" class="btn" value="Post!" />
  </form>

</div>